<div class="container">
  <app-search (searchCountryName)="searchCountryByName($event)"></app-search>
  <app-filter-region (regionEmitter)="searchCountryByRegion($event)"></app-filter-region>
</div>

<div *ngIf="isLoading" class="container-loader">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>
<p class="error" *ngIf="dataCountries.length === 0 && !isLoading">Country not found 😢</p>
<div class="list-countries">
  <app-card-country  [dataCountry]="dataCountry" *ngFor="let dataCountry of dataCountries"></app-card-country>
</div>
