<div class="container">
  <app-search></app-search>
  <app-filter-region></app-filter-region>
</div>

<div class="list-countries">
  <app-card-country [nameCountry]="'test'"></app-card-country>
  <app-card-country [nameCountry]="'test'"></app-card-country>
  <app-card-country [nameCountry]="'test'"></app-card-country>
  <app-card-country [nameCountry]="'test'"></app-card-country>
  <app-card-country [nameCountry]="'test'"></app-card-country>
  <app-card-country [nameCountry]="'test'"></app-card-country>
  <app-card-country [nameCountry]="'test'"></app-card-country>
  <app-card-country [nameCountry]="'test'"></app-card-country>
</div>
