<ul class="container">
  <li class="filter">
    <div class="default" (click)="showOptions = !showOptions">
      <span>{{ selectedRegion === 'all' ? 'Filter by Region' : selectedRegion }}</span> <img class="icon" [ngClass]="{'rotate-icon': showOptions}" src="assets/icons/arrow-down-icon.svg" alt="">
    </div> 
    <ul [ngClass]="{'show-options': showOptions}" class="options">
      <ng-container  *ngFor="let region of regions">
        <li class="option" *ngIf="region !== selectedRegion" (click)="emitRegion(region)"> {{ region }}</li>
      </ng-container>
    <li class="option" (click)="emitRegion('all')" *ngIf="selectedRegion !== 'all'">All Regions</li>
    </ul>
  </li>
</ul>
