<div class="container">
  <div class="container-img">
    <button class="button" [routerLink]="'/'">
      <img class="icon" src="assets/icons/arrow-back-icon.svg" alt=""> <span class="button-text">Back</span>
    </button>
    <img class="img" src="https://restcountries.eu/data/deu.svg" alt="">
  </div>
  <div class="container-info">
    <h1 class="title">Germany</h1>
    <div class="container-details">
      <div class="details">
        <p class="detail-item lighter">
          <span class="strong">Native Name: </span> Deutschland
        </p>
        <p class="detail-item lighter">
          <span class="strong">Population: </span> Deutschland
        </p>
        <p class="detail-item lighter">
          <span class="strong">Region: </span> Deutschland
        </p>
        <p class="detail-item lighter">
          <span class="strong">Sub Region: </span> Deutschland
        </p>
        <p class="detail-item lighter">
          <span class="strong">Capital: </span> Deutschland
        </p>
      </div>
      <div class="details">
        <p class="detail-item lighter">
          <span class="strong">Top Level Domain: </span> Deutschland
        </p>
        <p class="detail-item lighter">
          <span class="strong">Concurrencies: </span> Deutschland
        </p>
        <p class="detail-item lighter">
          <span class="strong">Languages: </span> Deutschland
        </p>
        <p class="detail-item lighter">
          <span class="strong">Sub Region: </span> Deutschland
        </p>
        <p class="detail-item lighter">
          <span class="strong">Capital: </span> Deutschland
        </p>
      </div>
    </div>
    <div class="border-countries">
      <p class="strong">Border Countries: </p>
      <p class="border-country">France</p>
      <p class="border-country">France</p>
      <p class="border-country">France</p>
    </div>
  </div>
</div>
